Ans 1.Two values of boolean datatype - True and False

In [3]:
True

True

In [4]:
False

False

Ans 2. Three types of boolean operators - and, or, not

Ans 3. Boolean operator truth tables-
and- 
True and True:True
Flase and True:False
False and False:False
True and False:False
or-
True and True:True
Flase and True:True
False and False:False
True and False:True
not-
True only if False

Ans 4.

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
not((5 > 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

Ans 5. The six comparison operators: ==,!=,>,>=,<,<= (equal to, not equal to, greater than, greater than or equal to, less than, and less than or equal to.)

Ans 6. == operator is used to check for equality where as = is use to assign values to a variable

In [7]:
a=6 #assigned the value using assignment operator
if a==6: #checked the value using equal to operator
    print("True")
else:
    print("not true")

True

Ans 7.

In [8]:
spam = 0
if spam==10:   #first block
    print("eggs")
if spam>5:     #second block
    print("bacon")
else:          #third block
    print("ham")
    print("spam")
    print("spam")

ham
spam
spam

Ans 8.

In [9]:
spam = int(input("Enter a no. "))
if spam == 1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

Enter a no. 1
Hello

Ans 9. ctrl+c

Ans 10. 
Break - Ends the loop if condition is satisfied
Continue - Dosen't break the loop, skips the loop when condition is satisfied

Ans 11. 
range(10) - range(stop)
range(0,10) - range(start,stop)
range(0,10,1) - range(start,stop,step)

Ans 12.

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
i = 1
while(i<=10):
    print(i)
    i =i + 1

1
2
3
4
5
6
7
8
9
10

Ans 13.
spam.bacon()