Ans 1.

In [1]:
a = int(input("Enter distance in km"))
m = a*0.621371
print("Distance in km {0}, Distance in miles {1}".format(a,m))

Enter distance in km2
Distance in km 2, Distance in miles 1.242742

Ans 2.

In [4]:
c = int(input("Enter temp in Celcius "))
f = (c * 9/5) + 32 
print("Temp. in Celcius {0}, Temp. in Farenheit {1}".format(c,f))

Enter temp in Celcius 33
Temp. in Celcius 33, Temp. in Farenheit 91.4

Ans 3.

In [9]:
import calendar
 
yy = int(input("Enter the Year "))

print(calendar.calendar(yy))

Enter the Year 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

Ans 4.

In [35]:
import math 
def quadratic( a, b, c):
        d = b * b - 4 * a * c 
        sqrt = math.sqrt(abs(d)) 
        try:
            if d > 0:  
                print((-b + sqrt)/(2 * a)) 
                print((-b - sqrt)/(2 * a)) 
                print(" real and different roots ")
      
            elif d == 0:  
                print(-b / (2 * a))
                print(" real and same roots")
            else:
                print(- b / (2 * a), " + i", sqrt) 
                print(- b / (2 * a), " - i", sqrt) 
                print("Complex Roots") 
        except Exception as e:
            print( e)

In [36]:
quadratic(1,1,1)

-0.5  + i 1.7320508075688772
-0.5  - i 1.7320508075688772
Complex Roots

Ans 5.

In [37]:
a = input("Enter First Variable")
b = input("Enter Second Variable")
a, b = b, a
 
print("a's swapped value {0}, b's swapped value {1} ".format(a, b))

Enter First Variablehello
Enter Second Variableworld
a's swapped value world, b's swapped value hello