Ans 1.

In [1]:
lst = [1,3,2,6,4,5,8,7,10,9]
s=0
for i in lst:
    s=s+i
print(s)

55

Ans 2.

In [2]:
lst = [1,3,2,6,4,5,8,7,10,9]
m=1
for i in lst:
    m=m*i
print(m)

3628800

Ans 3.

In [3]:
a=[300,10,45,229,890,65,38,29]
a.sort()
min_num= a[0]
print(min_num)

10

Ans 4.

In [4]:
a=[3,10,45,229,890,65,38,29]
a.sort()
max_num= a[len(a)-1]
print(max_num)

890

Ans 5.

In [5]:
a=[3,10,45,229,890,65,38,29]
a.sort()
smax_num= a[len(a)-2]
print(smax_num)

229

Ans 6.

In [6]:
n=int(input("Which largest value you want"))
a=[3,10,45,229,890,65,38,29]
a.sort()
nmax_num= a[len(a)-n]
print(nmax_num)

Which largest value you want4
45

Ans 7.

In [7]:
a=[3,10,45,229,890,65,38,29]
b=[]
for i in a:
    if i%2==0:
        b.append(i)
print(b)

[10, 890, 38]

Ans 8.

In [8]:
a=[3,10,45,229,890,65,38,29]
b=[]
for i in a:
    if i%2!=0:
        b.append(i)
print(b)

[3, 45, 229, 65, 29]

Ans 9.

In [9]:
a=[3,10,[],45,229,[],890,65,[],38,29]
for i in a:
    if i == []:
        a.remove(i)
print(a)

[3, 10, 45, 229, 890, 65, 38, 29]

Ans 10.

In [10]:
l1=[3,10,45,229,890,29]
lc = []
lc.extend(l1)
print("copyied list",lc,"orignal list",l1)

copyied list [3, 10, 45, 229, 890, 29] orignal list [3, 10, 45, 229, 890, 29]

Ans 11.

In [11]:
def countt(list,d):
    c=list.count(d)
    print("{0} is {1} no. of times in this list".format(d,c))

In [12]:
countt([4,4,4,4,4,5,5,6,6,7,7,7,8,8,8,9,9,9,9,9,9,9,9,9],4)

4 is 5 no. of times in this list

In [13]:
def fun1(n):
    dt={}
    o=0
    for i in n:
        if i in dt:
            o=o+1
            dt[i] = n.count(i)
        else:
            dt[i] = [1]
    return dt

In [14]:
fun1([4,4,4,4,4,5,5,6,6,7,7,7,8,8,8,9,9,9,9,9,9,9,9,9,10])

{4: [1, 4, 4, 4, 4],
 5: [1, 5],
 6: [1, 6],
 7: [1, 7, 7],
 8: [1, 8, 8],
 9: [1, 9, 9, 9, 9, 9, 9, 9, 9],
 10: [1]}

In [15]:
def CountFrequency(n):
    dt = {}
    for i in n:
        if (i in dt):
            dt[i] += 1
        else:
            dt[i] = 1
 
    for key, value in dt.items():
        print ("% d : % d"%(key, value))

In [16]:
CountFrequency([4,4,4,4,4,5,5,6,6,7,7,7,8,8,8,9,9,9,9,9,9,9,9,9,10])

 4 :  5
 5 :  2
 6 :  2
 7 :  3
 8 :  3
 9 :  9
 10 :  1